*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

body{
    background-color: #436db9;
}

.titulo{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 45px;
    color: #FFFF;
}

h2{
    text-align: center;
    color: #FFFF;
    text-shadow: 2.5px 2.5px black;
    margin-top: 50px;
} 

.game-board{
    width: 70%;
    height: 470px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#436db9, #4ba7cc);
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 5px;
    border-bottom: none;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.4s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    top:10px; 
    position: absolute;
    width: 400px;
    animation: clouds-animation 10s infinite linear;
}

.floor{
    background-color: rgb(150, 75, 0);
    background-image: url("./img/floor.png");
    background-repeat: repeat-x;
    height: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 5px;
    background-repeat: repeat-x;
}

.menu{
    text-align: left;
    width: 40%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.opcoes{
    margin-top: 60px;
    margin-left:25%;   
}

.opcoes a{
    text-decoration: none;
    color: #FFFF;
    text-shadow: 2px 2px black;
    font-size: 30px;
    margin-left:5px; 
}

.start{
    width: 40px;
    visibility: hidden;
}

.opcoes:hover img{
    visibility:visible;
}

.characters img{
    height: 200px;
    margin-bottom: 20px;
}

.mariop, .yoshi, .luigi{
    text-align: center;
}

.mariop button{
    background-color: #D20000;
}

.mariop button:hover{
    background-color: #8b0303;
    color: #d8d5d5;
}

.yoshi button{
    background-color:#96ee22;
}

.yoshi button:hover{
    background-color: #52880a;
    color: #d8d5d5;
}

.luigi button{
    background-color:#00BF35;
}

.luigi button:hover{
    background-color: #027e25;
    color: #d8d5d5;
}

.characters button{
    text-decoration: none;
    color: #FFFF;
    text-shadow: 2px 2px black;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid #000;
}

.characters button:hover{
    cursor: pointer;
}

.characters{
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
    width: 80%;
}

.arrow{
    text-align: left;
}

.arrow img{
    width: 45px;
    margin-left: 40px;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    
    to{
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}
